:root {
	--app-color-white: #fafafa;
	--app-color-purple: rebeccapurple;
}
body{
	margin: 0;
	background: #fafafa;
}

.home-page {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: var(--app-color-purple);
}
.home-page >  .title {
	font-size: 3vw;
	color: var(--app-color-white);
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;

}
